@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif
}
body {
    background-image: linear-gradient( to right, #308cf4, #1C1D2C);
}
div {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1C1D2C ;
}
h1 {
    color: #592C28;
    text-align: center;
    text-shadow: 1px 1px 3px #351b18;
}
h2 {
    color: #8C3D35;
}
p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /*Recuo do parágrafo*/
    font-size: 1em; /*tamanho da fonte*/
    line-height: 2em; /*espaçamento entra linhas*/
}
